@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DataMailClient.Model.HomeModel

    <div>
        @if (Model != null || Model.CoreMailList?.Count > 0)
        {
        @foreach (var mail in Model.CoreMailList)
        {
        <div>@mail</div>
        }
        }
        <a href="/Mail/">Go back</a>
    </div>



