@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Get Mails In In Box</h1>
<form action="Mail/GetMailsInInBox" method="post" class="form-example">
    <div class="form-example">
        <label for="name">Enter your name: </label>
        <input type="text" name="account" required>
    </div>
    <div class="form-example">
        <button type="submit" class="redirect">Submit</button>
    </div>
</form>


