@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Get Mails In In Box</h1>
<form action="Home/MailsInBox" method="post" class="form-example">
    <div class="form-example">
        <label for="name">Enter your name: </label>
        <input type="text" name="account" required>
    </div>
    <div class="form-example">
        <button type="submit">Submit</button>
    </div>
</form>
<h1>Get Mails In Out Box</h1>
<form action="Home/MailsOutBox" method="post" class="form-example">
    <div class="form-example">
        <label for="name">Enter your name: </label>
        <input type="text" name="account" required>
    </div>
    <div class="form-example">
        <button type="submit">Submit</button>
    </div>
</form>
<h1>Send Mails</h1>
<form action="Home/SendMails" method="post" class="form-example">
    <div class="form-example">
        <label for="name">Enter your name: </label>
        <input type="text" name="name" required>
    </div>
    <div class="form-example">
        <label for="lastname">Enter your lastname: </label>
        <input type="text" name="lastname" required>
    </div>
    <div class="form-example">
        <label for="accountname">Enter your account name: </label>
        <input type="text" name="account" required>
    </div>
    <div class="form-example">
        <label for="mail">Enter your mail: </label>
        <input type="email" name="mail" required>
    </div>
    <div class="form-example">
        <label for="receiver">Receiver </label>
        <input type="text" name="receiver" required>
    </div>
    <div class="form-example">
        <label for="receiver">Subject </label>
        <input type="text" name="subject" required>
    </div>
    <div class="form-example">
        <label for="content">Content </label>
        <input type="text" name="content" required>
    </div>
    <div class="form-example">
        <button type="submit">Submit</button>
    </div>
</form>

